# Text-to-SQL ë°ëª¨

ìì—°ì–´ ì§ˆë¬¸ì„ SQL ì¿¼ë¦¬ë¡œ ë³€í™˜í•˜ì—¬ ë°ì´í„°ë² ì´ìŠ¤ë¥¼ ì¡°íšŒí•˜ëŠ” ì‹¤ìŠµì…ë‹ˆë‹¤.

## í•™ìŠµ ëª©í‘œ

- SQLite ë°ì´í„°ë² ì´ìŠ¤ ìƒì„± ë° ë°ì´í„° ì‚½ì…
- í…Œì´ë¸” ìŠ¤í‚¤ë§ˆ ì •ë³´ë¥¼ í”„ë¡¬í”„íŠ¸ì— í™œìš©
- EXAONE 3.5ë¥¼ ì‚¬ìš©í•œ ìì—°ì–´ â†’ SQL ë³€í™˜
- SQL ì¿¼ë¦¬ ì‹¤í–‰ ë° ê²°ê³¼ í™•ì¸

## 1. í•„ìš”í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬ ì„¤ì¹˜

In [ ]:
# í•„ìš”í•œ ê²½ìš°ì—ë§Œ ì„¤ì¹˜
# !pip install transformers torch pandas

In [ ]:
import os
import sqlite3
import torch
import pandas as pd
from transformers import AutoTokenizer, AutoModelForCausalLM

print("âœ“ ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¡œë“œ ì™„ë£Œ")

## 2. EXAONE 3.5 ëª¨ë¸ ë¡œë“œ

Day 1ì—ì„œ ì‚¬ìš©í•œ EXAONE 3.5 Instruct ëª¨ë¸ì„ ë¶ˆëŸ¬ì˜µë‹ˆë‹¤.

In [ ]:
print("ğŸ¤– EXAONE 3.5 ëª¨ë¸ ë¡œë”© ì¤‘... (ì‹œê°„ì´ ê±¸ë¦´ ìˆ˜ ìˆìŠµë‹ˆë‹¤)\n")

# Tokenizer ë¡œë“œ
tokenizer = AutoTokenizer.from_pretrained(
    "LGAI-EXAONE/EXAONE-3.5-2.4B-Instruct",
    trust_remote_code=True
)

# Model ë¡œë“œ
model = AutoModelForCausalLM.from_pretrained(
    "LGAI-EXAONE/EXAONE-3.5-2.4B-Instruct",
    trust_remote_code=True,
    torch_dtype=torch.float16 if torch.cuda.is_available() else torch.float32,
    device_map='auto'
)

device = 'cuda' if torch.cuda.is_available() else 'cpu'
print(f"âœ“ EXAONE 3.5 ëª¨ë¸ ë¡œë“œ ì™„ë£Œ (Device: {device})")

## 3. SQLite ë°ì´í„°ë² ì´ìŠ¤ ìƒì„±

ê°„ë‹¨í•œ **ì§ì›(employees)** í…Œì´ë¸”ì„ ë§Œë“¤ì–´ ìƒ˜í”Œ ë°ì´í„°ë¥¼ ë„£ê² ìŠµë‹ˆë‹¤.

### í…Œì´ë¸” êµ¬ì¡°
- `id`: ì§ì› ID (ì •ìˆ˜, ê¸°ë³¸í‚¤)
- `name`: ì´ë¦„ (í…ìŠ¤íŠ¸)
- `department`: ë¶€ì„œ (í…ìŠ¤íŠ¸)
- `position`: ì§ê¸‰ (í…ìŠ¤íŠ¸)
- `salary`: ì—°ë´‰ (ì •ìˆ˜, ë§Œì› ë‹¨ìœ„)
- `hire_date`: ì…ì‚¬ì¼ (í…ìŠ¤íŠ¸)

In [ ]:
# ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° (íŒŒì¼ì´ ì—†ìœ¼ë©´ ìë™ ìƒì„±)
conn = sqlite3.connect('company.db')
cursor = conn.cursor()

# ê¸°ì¡´ í…Œì´ë¸”ì´ ìˆìœ¼ë©´ ì‚­ì œ
cursor.execute('DROP TABLE IF EXISTS employees')

# í…Œì´ë¸” ìƒì„±
cursor.execute('''
CREATE TABLE employees (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    department TEXT NOT NULL,
    position TEXT NOT NULL,
    salary INTEGER NOT NULL,
    hire_date TEXT NOT NULL
)
''')

print("âœ“ employees í…Œì´ë¸” ìƒì„± ì™„ë£Œ")

## 4. ìƒ˜í”Œ ë°ì´í„° ì‚½ì…

ë‹¤ì–‘í•œ ë¶€ì„œì™€ ì§ê¸‰ì˜ ì§ì› ë°ì´í„°ë¥¼ ë„£ì–´ì„œ ì˜ë¯¸ ìˆëŠ” ì¿¼ë¦¬ë¥¼ í…ŒìŠ¤íŠ¸í•  ìˆ˜ ìˆê²Œ í•©ë‹ˆë‹¤.

In [ ]:
# ìƒ˜í”Œ ì§ì› ë°ì´í„°
employees_data = [
    (1, 'ê¹€ì² ìˆ˜', 'ê°œë°œíŒ€', 'ì‹œë‹ˆì–´ ê°œë°œì', 7000, '2020-03-15'),
    (2, 'ì´ì˜í¬', 'ê°œë°œíŒ€', 'ì£¼ë‹ˆì–´ ê°œë°œì', 4500, '2022-06-01'),
    (3, 'ë°•ë¯¼ìˆ˜', 'ì˜ì—…íŒ€', 'ì˜ì—… íŒ€ì¥', 8000, '2018-01-10'),
    (4, 'ìµœì§€ì›', 'ì˜ì—…íŒ€', 'ì˜ì—… ì‚¬ì›', 4000, '2023-02-20'),
    (5, 'ì •ìˆ˜ì§„', 'ì¸ì‚¬íŒ€', 'ì¸ì‚¬ ë§¤ë‹ˆì €', 6500, '2019-05-12'),
    (6, 'ê°•ë™í›ˆ', 'ê°œë°œíŒ€', 'íŒ€ì¥', 9000, '2017-08-25'),
    (7, 'ìœ¤ì„œì—°', 'ë§ˆì¼€íŒ…íŒ€', 'ë§ˆì¼€í„°', 5000, '2021-11-03'),
    (8, 'ì¡°ë¯¼ì¤€', 'ë§ˆì¼€íŒ…íŒ€', 'ë§ˆì¼€íŒ… íŒ€ì¥', 7500, '2019-09-18'),
]

# ë°ì´í„° ì‚½ì…
cursor.executemany(
    'INSERT INTO employees (id, name, department, position, salary, hire_date) VALUES (?, ?, ?, ?, ?, ?)',
    employees_data
)

# ë³€ê²½ì‚¬í•­ ì €ì¥
conn.commit()

print(f"âœ“ {len(employees_data)}ëª…ì˜ ì§ì› ë°ì´í„° ì‚½ì… ì™„ë£Œ")

## 5. ë°ì´í„° í™•ì¸

ì œëŒ€ë¡œ ë“¤ì–´ê°”ëŠ”ì§€ ì „ì²´ ë°ì´í„°ë¥¼ ì¡°íšŒí•´ë´…ë‹ˆë‹¤.

In [ ]:
# ì „ì²´ ë°ì´í„° ì¡°íšŒ
df = pd.read_sql_query('SELECT * FROM employees', conn)
print("ğŸ“Š ì „ì²´ ì§ì› ë°ì´í„°:\n")
display(df)

## 6. í…Œì´ë¸” ìŠ¤í‚¤ë§ˆ ì •ë³´ ê°€ì ¸ì˜¤ê¸°

LLMì´ ì •í™•í•œ SQLì„ ìƒì„±í•˜ë ¤ë©´ **í…Œì´ë¸” êµ¬ì¡°**ë¥¼ ì•Œì•„ì•¼ í•©ë‹ˆë‹¤.

- í…Œì´ë¸” ì´ë¦„
- ì»¬ëŸ¼ ì´ë¦„ê³¼ íƒ€ì…
- ê° ì»¬ëŸ¼ì˜ ì˜ë¯¸

In [ ]:
# í…Œì´ë¸” ìŠ¤í‚¤ë§ˆ ì¡°íšŒ
cursor.execute("PRAGMA table_info(employees)")
schema = cursor.fetchall()

print("ğŸ“‹ employees í…Œì´ë¸” ìŠ¤í‚¤ë§ˆ:\n")
for col in schema:
    print(f"  - {col[1]} ({col[2]})")

## 7. ìŠ¤í‚¤ë§ˆ ì„¤ëª… ë¬¸ìì—´ ìƒì„±

LLMì—ê²Œ ì¤„ í”„ë¡¬í”„íŠ¸ì— í¬í•¨í•  ìƒì„¸í•œ í…Œì´ë¸” ì„¤ëª…ì„ ë§Œë“­ë‹ˆë‹¤.

In [ ]:
# ìŠ¤í‚¤ë§ˆ ì„¤ëª… ë¬¸ìì—´
schema_description = """
ë°ì´í„°ë² ì´ìŠ¤: company.db (SQLite)

í…Œì´ë¸”: employees
ì„¤ëª…: íšŒì‚¬ ì§ì› ì •ë³´ë¥¼ ì €ì¥í•˜ëŠ” í…Œì´ë¸”

ì»¬ëŸ¼:
- id: ì§ì› ê³ ìœ  ID (INTEGER, PRIMARY KEY)
- name: ì§ì› ì´ë¦„ (TEXT)
- department: ì†Œì† ë¶€ì„œ (TEXT) - ì˜ˆ: 'ê°œë°œíŒ€', 'ì˜ì—…íŒ€', 'ì¸ì‚¬íŒ€', 'ë§ˆì¼€íŒ…íŒ€'
- position: ì§ê¸‰ (TEXT) - ì˜ˆ: 'íŒ€ì¥', 'ì‹œë‹ˆì–´ ê°œë°œì', 'ì£¼ë‹ˆì–´ ê°œë°œì', 'ì‚¬ì›'
- salary: ì—°ë´‰ (INTEGER, ë§Œì› ë‹¨ìœ„) - ì˜ˆ: 7000ì€ 7ì²œë§Œì›
- hire_date: ì…ì‚¬ì¼ (TEXT, 'YYYY-MM-DD' í˜•ì‹)

ìƒ˜í”Œ ë°ì´í„°:
- ì´ 8ëª…ì˜ ì§ì›
- ë¶€ì„œ: ê°œë°œíŒ€(3ëª…), ì˜ì—…íŒ€(2ëª…), ì¸ì‚¬íŒ€(1ëª…), ë§ˆì¼€íŒ…íŒ€(2ëª…)
- ì—°ë´‰ ë²”ìœ„: 4000ë§Œì› ~ 9000ë§Œì›
"""

print(schema_description)

## 8. Text-to-SQL í”„ë¡¬í”„íŠ¸ í…œí”Œë¦¿

ìì—°ì–´ ì§ˆë¬¸ì„ SQLë¡œ ë³€í™˜í•˜ëŠ” í”„ë¡¬í”„íŠ¸ë¥¼ ë§Œë“­ë‹ˆë‹¤.

### í•µì‹¬ ìš”ì†Œ
1. **ì—­í•  ë¶€ì—¬**: SQL ì „ë¬¸ê°€ ì—­í• 
2. **ìŠ¤í‚¤ë§ˆ ì œê³µ**: í…Œì´ë¸” êµ¬ì¡° ìƒì„¸ ì„¤ëª…
3. **ì œì•½ ì¡°ê±´**: SQLite ë¬¸ë²• ì¤€ìˆ˜, SELECTë§Œ í—ˆìš©
4. **ì¶œë ¥ í˜•ì‹**: SQL ì¿¼ë¦¬ë§Œ ë°˜í™˜

In [ ]:
def create_text2sql_prompt(question: str, schema: str) -> str:
    """
    ìì—°ì–´ ì§ˆë¬¸ì„ SQLë¡œ ë³€í™˜í•˜ëŠ” í”„ë¡¬í”„íŠ¸ë¥¼ ìƒì„±í•©ë‹ˆë‹¤.
    
    Args:
        question: ì‚¬ìš©ìì˜ ìì—°ì–´ ì§ˆë¬¸
        schema: ë°ì´í„°ë² ì´ìŠ¤ ìŠ¤í‚¤ë§ˆ ì„¤ëª…
    
    Returns:
        LLMì—ê²Œ ì „ë‹¬í•  í”„ë¡¬í”„íŠ¸ ë¬¸ìì—´
    """
    prompt = f"""ë‹¹ì‹ ì€ SQL ì „ë¬¸ê°€ì…ë‹ˆë‹¤. ì‚¬ìš©ìì˜ ìì—°ì–´ ì§ˆë¬¸ì„ SQLite ì¿¼ë¦¬ë¡œ ë³€í™˜í•´ì£¼ì„¸ìš”.

### ë°ì´í„°ë² ì´ìŠ¤ ìŠ¤í‚¤ë§ˆ
{schema}

### ê·œì¹™
1. SQLite ë¬¸ë²•ì„ ì‚¬ìš©í•˜ì„¸ìš”
2. SELECT ì¿¼ë¦¬ë§Œ ì‘ì„±í•˜ì„¸ìš” (INSERT, UPDATE, DELETE ê¸ˆì§€)
3. ì»¬ëŸ¼ëª…ê³¼ í…Œì´ë¸”ëª…ì„ ì •í™•íˆ ì‚¬ìš©í•˜ì„¸ìš”
4. í•œê¸€ ì¡°ê±´ì€ LIKEë¥¼ ì‚¬ìš©í•˜ì„¸ìš”
5. ì£¼ì„ì´ë‚˜ ì„¤ëª… ì—†ì´ SQL ì¿¼ë¦¬ë§Œ ë°˜í™˜í•˜ì„¸ìš”
6. ì½”ë“œ ë¸”ë¡(```)ì„ ì‚¬ìš©í•˜ì§€ ë§ˆì„¸ìš”

### ì‚¬ìš©ì ì§ˆë¬¸
{question}

### SQL ì¿¼ë¦¬
"""
    return prompt

# í…ŒìŠ¤íŠ¸
test_question = "ê°œë°œíŒ€ ì§ì›ë“¤ì˜ ì´ë¦„ê³¼ ì—°ë´‰ì„ ë³´ì—¬ì¤˜"
test_prompt = create_text2sql_prompt(test_question, schema_description)
print("ğŸ“ ìƒì„±ëœ í”„ë¡¬í”„íŠ¸ ì˜ˆì‹œ:\n")
print(test_prompt)

## 9. EXAONEìœ¼ë¡œ SQL ìƒì„± í•¨ìˆ˜

í”„ë¡¬í”„íŠ¸ë¥¼ EXAONE 3.5ì— ì „ë‹¬í•˜ì—¬ SQL ì¿¼ë¦¬ë¥¼ ìƒì„±í•©ë‹ˆë‹¤.

In [ ]:
def generate_sql(question: str) -> str:
    """
    ìì—°ì–´ ì§ˆë¬¸ì„ SQL ì¿¼ë¦¬ë¡œ ë³€í™˜í•©ë‹ˆë‹¤.
    
    Args:
        question: ì‚¬ìš©ìì˜ ìì—°ì–´ ì§ˆë¬¸
    
    Returns:
        ìƒì„±ëœ SQL ì¿¼ë¦¬ ë¬¸ìì—´
    """
    # í”„ë¡¬í”„íŠ¸ ìƒì„±
    prompt = create_text2sql_prompt(question, schema_description)
    
    # Tokenize
    inputs = tokenizer(prompt, return_tensors='pt').to(model.device)
    input_length = inputs.input_ids.shape[1]
    
    # Generate
    with torch.no_grad():
        outputs = model.generate(
            **inputs,
            max_new_tokens=150,
            temperature=0.1,  # ì¼ê´€ëœ ê²°ê³¼ë¥¼ ìœ„í•´ ë‚®ê²Œ ì„¤ì •
            do_sample=True,
            pad_token_id=tokenizer.eos_token_id
        )
    
    # Decode
    generated_tokens = outputs[0][input_length:]
    sql_query = tokenizer.decode(generated_tokens, skip_special_tokens=True).strip()
    
    # ì½”ë“œ ë¸”ë¡ ì œê±° (```sql ... ``` í˜•íƒœë¡œ ì˜¬ ìˆ˜ ìˆìŒ)
    if '```' in sql_query:
        # ì½”ë“œ ë¸”ë¡ ì•ˆì˜ ë‚´ìš©ë§Œ ì¶”ì¶œ
        import re
        match = re.search(r'```(?:sql)?\s*([^`]+)```', sql_query)
        if match:
            sql_query = match.group(1).strip()
    
    # ì²« ë²ˆì§¸ ì„¸ë¯¸ì½œë¡ ê¹Œì§€ë§Œ (ì„¤ëª…ì´ ë¶™ëŠ” ê²½ìš° ëŒ€ë¹„)
    if ';' in sql_query:
        sql_query = sql_query.split(';')[0] + ';'
    
    # ê°œí–‰ ì •ë¦¬
    sql_query = ' '.join(sql_query.split())
    
    return sql_query

print("âœ“ SQL ìƒì„± í•¨ìˆ˜ ì •ì˜ ì™„ë£Œ")

## 10. SQL ì‹¤í–‰ í•¨ìˆ˜

ìƒì„±ëœ SQLì„ ì‹¤ì œë¡œ ì‹¤í–‰í•˜ì—¬ ê²°ê³¼ë¥¼ ê°€ì ¸ì˜µë‹ˆë‹¤.

In [ ]:
def execute_sql(sql_query: str) -> pd.DataFrame:
    """
    SQL ì¿¼ë¦¬ë¥¼ ì‹¤í–‰í•˜ê³  ê²°ê³¼ë¥¼ DataFrameìœ¼ë¡œ ë°˜í™˜í•©ë‹ˆë‹¤.
    
    Args:
        sql_query: ì‹¤í–‰í•  SQL ì¿¼ë¦¬
    
    Returns:
        ì¿¼ë¦¬ ê²°ê³¼ë¥¼ ë‹´ì€ DataFrame
    """
    try:
        df = pd.read_sql_query(sql_query, conn)
        return df
    except Exception as e:
        print(f"âŒ SQL ì‹¤í–‰ ì˜¤ë¥˜: {e}")
        return pd.DataFrame()

print("âœ“ SQL ì‹¤í–‰ í•¨ìˆ˜ ì •ì˜ ì™„ë£Œ")

## 11. Text-to-SQL ì „ì²´ íŒŒì´í”„ë¼ì¸

ìì—°ì–´ ì§ˆë¬¸ â†’ SQL ìƒì„± â†’ ì‹¤í–‰ â†’ ê²°ê³¼ ë°˜í™˜ì„ í•œ ë²ˆì— ì²˜ë¦¬í•©ë‹ˆë‹¤.

In [ ]:
def text_to_sql_pipeline(question: str):
    """
    ìì—°ì–´ ì§ˆë¬¸ì„ ë°›ì•„ SQLë¡œ ë³€í™˜í•˜ê³  ì‹¤í–‰í•˜ì—¬ ê²°ê³¼ë¥¼ ë³´ì—¬ì¤ë‹ˆë‹¤.
    
    Args:
        question: ì‚¬ìš©ìì˜ ìì—°ì–´ ì§ˆë¬¸
    """
    print("ğŸ” ì§ˆë¬¸:", question)
    print("\nâš™ï¸  SQL ìƒì„± ì¤‘...\n")
    
    # SQL ìƒì„±
    sql_query = generate_sql(question)
    print("ğŸ“ ìƒì„±ëœ SQL:")
    print(f"```sql\n{sql_query}\n```\n")
    
    # SQL ì‹¤í–‰
    print("ğŸš€ SQL ì‹¤í–‰ ì¤‘...\n")
    result_df = execute_sql(sql_query)
    
    # ê²°ê³¼ ì¶œë ¥
    if not result_df.empty:
        print("âœ… ê²°ê³¼:")
        display(result_df)
        print(f"\nğŸ“Š ì´ {len(result_df)}ê°œ í–‰")
    else:
        print("âŒ ê²°ê³¼ê°€ ì—†ê±°ë‚˜ ì˜¤ë¥˜ê°€ ë°œìƒí–ˆìŠµë‹ˆë‹¤.")
    
    print("\n" + "="*60 + "\n")

print("âœ“ Text-to-SQL íŒŒì´í”„ë¼ì¸ í•¨ìˆ˜ ì •ì˜ ì™„ë£Œ")

## 12. ì‹¤ìŠµ ì˜ˆì œ

ë‹¤ì–‘í•œ ìì—°ì–´ ì§ˆë¬¸ì„ SQLë¡œ ë³€í™˜í•˜ì—¬ ì‹¤í–‰í•´ë´…ë‹ˆë‹¤.

### ì˜ˆì œ 1: ë‹¨ìˆœ ì¡°íšŒ

íŠ¹ì • ë¶€ì„œì˜ ì§ì› ì •ë³´ë¥¼ ì¡°íšŒí•©ë‹ˆë‹¤.

In [ ]:
text_to_sql_pipeline("ê°œë°œíŒ€ ì§ì›ë“¤ì˜ ì´ë¦„ê³¼ ì—°ë´‰ì„ ë³´ì—¬ì¤˜")

### ì˜ˆì œ 2: ì§‘ê³„ í•¨ìˆ˜

ë¶€ì„œë³„ í‰ê·  ì—°ë´‰ì„ ê³„ì‚°í•©ë‹ˆë‹¤.

In [ ]:
text_to_sql_pipeline("ë¶€ì„œë³„ í‰ê·  ì—°ë´‰ì„ ì•Œë ¤ì¤˜")

### ì˜ˆì œ 3: ì •ë ¬

ì—°ë´‰ì´ ë†’ì€ ìˆœì„œë¡œ ì§ì›ì„ ì •ë ¬í•©ë‹ˆë‹¤.

In [ ]:
text_to_sql_pipeline("ì—°ë´‰ì´ ê°€ì¥ ë†’ì€ ì§ì› 3ëª…ì„ ë³´ì—¬ì¤˜")

### ì˜ˆì œ 4: ì¡°ê±´ í•„í„°ë§

ì—°ë´‰ ë²”ìœ„ë¡œ ì§ì›ì„ í•„í„°ë§í•©ë‹ˆë‹¤.

In [ ]:
text_to_sql_pipeline("ì—°ë´‰ì´ 6000ë§Œì› ì´ìƒì¸ ì§ì›ë“¤ì„ ì•Œë ¤ì¤˜")

### ì˜ˆì œ 5: ë‚ ì§œ ì¡°ê±´

ì…ì‚¬ì¼ ê¸°ì¤€ìœ¼ë¡œ í•„í„°ë§í•©ë‹ˆë‹¤.

In [ ]:
text_to_sql_pipeline("2020ë…„ ì´í›„ì— ì…ì‚¬í•œ ì§ì›ë“¤ì˜ ì´ë¦„ê³¼ ì…ì‚¬ì¼ì„ ë³´ì—¬ì¤˜")

### ì˜ˆì œ 6: ë³µì¡í•œ ì¡°ê±´

ì—¬ëŸ¬ ì¡°ê±´ì„ ì¡°í•©í•©ë‹ˆë‹¤.

In [ ]:
text_to_sql_pipeline("ê°œë°œíŒ€ì—ì„œ ì—°ë´‰ì´ 5000ë§Œì› ì´ìƒì¸ ì§ì›ë“¤ì„ ë³´ì—¬ì¤˜")

### ì˜ˆì œ 7: COUNT

ë¶€ì„œë³„ ì§ì› ìˆ˜ë¥¼ ê³„ì‚°í•©ë‹ˆë‹¤.

In [ ]:
text_to_sql_pipeline("ê° ë¶€ì„œì— ì§ì›ì´ ëª‡ ëª…ì”© ìˆëŠ”ì§€ ì•Œë ¤ì¤˜")

## 13. ì§ì ‘ ì§ˆë¬¸í•´ë³´ê¸°

ì—¬ëŸ¬ë¶„ì˜ ì§ˆë¬¸ì„ ì…ë ¥í•´ë³´ì„¸ìš”!

In [ ]:
# ì—¬ê¸°ì— ììœ ë¡­ê²Œ ì§ˆë¬¸ì„ ì…ë ¥í•˜ì„¸ìš”
my_question = "íŒ€ì¥ ì§ê¸‰ì„ ê°€ì§„ ì‚¬ëŒë“¤ì˜ ì´ë¦„ê³¼ ë¶€ì„œë¥¼ ë³´ì—¬ì¤˜"

text_to_sql_pipeline(my_question)

## 14. ì •ë¦¬ ë° ì—°ê²° ì¢…ë£Œ

In [ ]:
# ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì¢…ë£Œ
conn.close()
print("âœ“ ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì¢…ë£Œ")

## í•µì‹¬ ì •ë¦¬

### Text-to-SQLì˜ ì¥ì 
1. **ì ‘ê·¼ì„±**: SQLì„ ëª¨ë¥´ëŠ” ì‚¬ìš©ìë„ ë°ì´í„° ì¡°íšŒ ê°€ëŠ¥
2. **ìƒì‚°ì„±**: ë³µì¡í•œ ì¿¼ë¦¬ë¥¼ ìì—°ì–´ë¡œ ê°„ë‹¨íˆ ìš”ì²­
3. **ìœ ì—°ì„±**: ë‹¤ì–‘í•œ ì§ˆë¬¸ í˜•íƒœ ì§€ì›

### í•µì‹¬ ìš”ì†Œ
1. **ìŠ¤í‚¤ë§ˆ ì •ë³´**: í…Œì´ë¸” êµ¬ì¡°ì™€ ì»¬ëŸ¼ ì˜ë¯¸ë¥¼ ëª…í™•íˆ ì œê³µ
2. **í”„ë¡¬í”„íŠ¸ ì—”ì§€ë‹ˆì–´ë§**: ì—­í• , ì œì•½ì¡°ê±´, ì¶œë ¥ í˜•ì‹ ì§€ì •
3. **ì˜¤ë¥˜ ì²˜ë¦¬**: SQL ì‹¤í–‰ ì‹œ ì˜ˆì™¸ ì²˜ë¦¬
4. **EXAONE 3.5 í™œìš©**: í•œêµ­ì–´ ì§ˆë¬¸ì— íŠ¹í™”ëœ ëª¨ë¸ ì‚¬ìš©

### ì‹¤ì „ í™œìš© ì‹œ ê³ ë ¤ì‚¬í•­
1. **ë³´ì•ˆ**: SELECTë§Œ í—ˆìš©, íŒŒë¼ë¯¸í„° ê²€ì¦
2. **ì„±ëŠ¥**: ë³µì¡í•œ ì¿¼ë¦¬ëŠ” íƒ€ì„ì•„ì›ƒ ì„¤ì •
3. **ê²€ì¦**: ìƒì„±ëœ SQLì„ ì‚¬ìš©ìì—ê²Œ í™•ì¸ë°›ê¸°
4. **ë¡œê¹…**: ì¿¼ë¦¬ íˆìŠ¤í† ë¦¬ ì €ì¥ ë° ë¶„ì„
5. **í›„ì²˜ë¦¬**: ìƒì„±ëœ SQL ì •ì œ (ì½”ë“œ ë¸”ë¡ ì œê±°, ë¶ˆí•„ìš”í•œ ì„¤ëª… ì œê±°)